---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/zomghazerd?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"zomghazerd":{"id":23861944,"name":"zomgHazerd","profileIconId":641,"summonerLevel":30,"revisionDate":1437978434000}}'
  recorded_at: Wed, 28 Oct 2015 04:37:54 GMT
recorded_with: VCR 2.9.3
